body {
    font-family: 'Alegreya', serif;
    background-image: url(./../../img/bananas.png);
}
nav {
    background-color: pink;
}
nav .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: lightpink;
}

#canvas-wrapper canvas {
    background: linear-gradient(45deg,rgb(246, 212, 242) 0% 20%, #7a0657);
  }

  #main {
      background: linear-gradient(113deg, pink, white);
  }